$backgroun-body: #d7d8c7;
$backgroun-menu-title: #3d4d46;
$background-color-title: #5d7a61;
$background-sections:  #5d7a61;
$border-submenu: solid 1px #ffebcb;
$border-box: solid 5px #25242199;
$hover-color-title-h2: #5b78a7;
$color-title: #eff2f3;