$font-family-title: sans-serif;
$font-family-title-h3: Verdana,
Geneva,
Tahoma,
sans-serif;
$font-family-title-section: Verdana,
Geneva,
Tahoma,
sans-serif;
$font-size-title: 2.5rem;
$font-weight-menu: bold;

/*medias queries mobile*/
$font-size-title-mobile: 1.5rem;
$font-size-title-tablet: 2rem;
$font-size-section: 2rem;
$font-size-subtitles: 0.9rem;